.img__cards__wrapper {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    padding: 30px 40px;
    grid-gap: 20px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 1024px) {
    .img__cards__wrapper {
        padding: 30px 20px;
    }
}

@media screen and (max-width: 800px) {
    .img__cards__wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}